.div{
    color: rgb(241, 235, 227);
    background-color: rgb(19, 17, 17);
    opacity: 0.5;
    border-radius: 10px 10px 10px 10px;
    margin: 20px;
    box-shadow: 4px 5px 5px 5px #333333;
}
.text{
    opacity: 0.8;
    color: azure;
    
}
p,h1,h2,h3{
    margin: 10px;
    opacity: 0.9;
    color: azure;
}
.img{
    display: block;
    margin-left: 0;
    margin-right: auto;
}
.shadow{
    color: rgb(241, 235, 227);
    background-color: rgb(19, 17, 17);
    opacity: 0.5;
    border-radius: 10px 10px 10px 10px;
    margin: 20px;
    box-shadow: 4px 5px 5px 5px #272727d0;
}
