
<!--The content below is only a placeholder and can be replaced.-->  
<div >
<header class="header">
    <nav class="navbar navbar-inverse" >
            <div class="container-fluid">
                <div class="navbar-header" >
                    <a class="navbar-brand" routerLink='/' routeractive='active'>DC WORLD</a>
                    <button type="button" class="navbar-toggle collapsed" (click)="navbartoggle()">
                        <span class="sr-only"> Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                    <div>
                        <div class="collapse navbar-collapse justify-content-left" id="nav1"
                            [ngClass]="{'show':navbarOpen}">
                            <div >
                            <a class="nav-link button inline item"  routerLink='/about' routeractive='active'><h4>About</h4></a>
                            <a class=" nav-link button inline item"  routerLink='/contactus' routeractive='active'><h4>Contact us </h4></a>
                            </div>
                            </div>
                           
                        </div>
    
    
                </div>
    
        </nav>
</header>
</div>
<router-outlet></router-outlet>

