<div class="container-fluid font text-center">
  <h1> THE FOUNDERS OF JUSTICE LEAGUE</h1>

</div>
  
  <div style="display: inline-block; margin:30px;" class="card items" *ngFor="let character of character"  [class.selected]="isselected(character)" (click)="onSelect(character)">
        <img src="{{character.profilepicimg}}" alt="Avatar"  style="width:210px; height:250px;">
        <div class="container" style="margin:20px;">
            <h4><b>{{character.name}}</b></h4> 
            <h3> {{character.characterId}} </h3> 
          </div>
    
   
      </div>
  

  <div>
    <h1></h1>
  </div>
